.root {
  padding: 4px;
  position: absolute;
  min-width: 120px;
  border-radius: 8px;
  background: white;
  border: 1px solid gray;
  overflow: hidden;
}

.item {
  padding: 6px 4px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 400;
  color: black;
  border-radius: 4px;
}

.item:hover {
  background: lightgray;
}
